In [1]:
import pandas as pd

In [6]:
#Loading the csv file and checking the head
df = pd.read_csv("FDNY.csv")
df.head(5)

,FacilityName,FacilityAddress,Borough
0,FacilityName,FacilityAddress,Borough
1,Engine 4/Ladder 15,42 South Street,Manhattan
2,Engine 10/Ladder 10,124 Liberty Street,Manhattan
3,Engine 6,49 Beekman Street,Manhattan
4,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan

In [10]:
#Cleaning the data by removing the first row
df= df.iloc[1:,:]

In [9]:
df.head(5)

,FacilityName,FacilityAddress,Borough
1,Engine 4/Ladder 15,42 South Street,Manhattan
2,Engine 10/Ladder 10,124 Liberty Street,Manhattan
3,Engine 6,49 Beekman Street,Manhattan
4,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan
5,Ladder 8,14 North Moore Street,Manhattan

In [13]:
df.count(axis =0)

FacilityName       217
FacilityAddress    217
Borough            217
dtype: int64

In [15]:
df['FacilityName'].value_counts()

Engine 10/Ladder 10                   1
Engine 259/Ladder 128/Battalion 45    1
Engine 253                            1
Engine 318/Ladder 166                 1
Engine 254/Ladder 153                 1
                                     ..
Engine 63/Ladder 39/Battalion 15      1
Engine 66/Ladder 61                   1
Engine 89/Ladder 50                   1
Engine 72                             1
Engine 151/Ladder 76                  1
Name: FacilityName, Length: 217, dtype: int64

In [16]:
#to find the number of department facilities in each borough
df['Borough'].value_counts()

Brooklyn         66
Queens           50
Manhattan        47
Bronx            34
Staten Island    20
Name: Borough, dtype: int64

In [26]:
print(df['Borough'].value_counts()['Manhattan']) # prints the number of boroughs in Manhattan

47

In [28]:
new = df[df['Borough']=='Manhattan']

In [29]:
new['FacilityName']#printing the facility name in Manhattan

2                                   Engine 10/Ladder 10
3                                              Engine 6
4     Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...
5                                              Ladder 8
6                                     Engine 9/Ladder 6
7                       Engine 15/Ladder 18/Battalion 4
8                                   Engine 28/Ladder 11
9                                              Engine 5
10                                            Engine 55
11                                 Ladder 20/Division 1
12                       Engine 24/Ladder 5/Battalion 2
13                                   Engine 33/Ladder 9
14                                 Ladder 3/Battalion 6
15                                             Squad 18
16                                  Engine 34/Ladder 21
17                                            Engine 26
18                       Engine 3/Ladder 12/Battalion 7
19                                   Engine 1/Ladder 24
20                                            Engine 14
21                                Engine 16 / Ladder 7
22                                            Engine 21
23                       Engine 54/Ladder 4/Battalion 9
24                                            Engine 23
25                                             Rescue 1
26                                  Engine 40/Ladder 35
27               Ladder 25/District Office 4/Division 3
28                                            Engine 74
29                                            Engine 65
30                    Engine 8 / Ladder 2 / Battalion 8
31                                  Engine 39/Ladder 16
32                                            Engine 44
33                     Engine 22/Ladder 13/Battalion 10
34                                  Engine 58/Ladder 26
35                                  Engine 53/Ladder 43
36                                            Engine 91
37                                  Engine 35/Ladder 14
38                     Engine 76/Ladder 22/Battalion 11
39                                            Engine 47
40                                  Engine 59/Ladder 30
41                                  Engine 37/Ladder 40
42                     Engine 69/Ladder 28/Battalion 16
43                                  Engine 80/Ladder 23
44                                  Engine 84/Ladder 34
45                                            Engine 67
46                     Engine 93/Ladder 45/Battalion 13
47                                  Engine 95/Ladder 36
48                                             Marine 1
Name: FacilityName, dtype: object